[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PopulationGrowthR"]
	path = PopulationGrowthR
	url = https://github.com/cran/PopulationGrowthR
